button {
    background-color: #56a291;
    color: white;
}
button:disabled {
    cursor: default;
    pointer-events: none;
}

button:enabled {
    cursor: default;
    pointer-events: all;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 30px;

}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #2e2947;
}
